body {
  background-color: #1a1a1a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", Arial,
    Helvetica, sans-serif;
}
.body{
  background-color: #1a1a1a;
}
.work {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
}

mat-card {
  margin: 1% 15% 0 15%;
  text-align: center;

  p {
    font-size: 3rem;
    margin: 4vw 0 8vw 0;
    color: #000000;
  }
  button {
    box-shadow: 5px 5px 4px 0px #000000;
    font-size: 2rem;
    background-color: #ff0000;
    color: #fff;
    margin: 0 1vw 2vw 1vw;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
  }
}

svg {
  margin-top: -10vw;
  right: 0;
  left: 0;
  bottom: 0;
}

.um {
  animation: ondaUm 4.5s ease-in-out infinite alternate;

}
.dois {

  opacity: 70%;
  animation: ondaDois 4s ease-in-out infinite alternate;
}
.tres {

  opacity: 50%;
  animation: ondaTres 3s ease-in-out infinite alternate;
}

@keyframes ondaUm {
  from {
    transform: translateX(-30px);
    transform: scaleX(2);
  }
}
@keyframes ondaDois {
  from {
    transform: translateX(20px);
    transform: scaleX(1.5);
  }
}

@keyframes ondaTres {
  from {
    transform: translateX(-10px);
    transform: scaleX(2);
  }
}
