.botoes {
  margin-left: 65vw;
  button {
    margin-left: 1vw;
  }
}
mat-toolbar {
  background-color: #4b4b4b;
  color: #fff;
  button {
    background-color: #ff0000;
    box-shadow: 3px 3px 4px 0px #000000;
    color: #ffffff;
  }
  font-size: 2rem;
  span {
    margin-left: 1vw;
  }
  .footer {
    font-size: 1rem;

    background-color: #4b4b4b;
    a {
      button {
        background-color: #ff0000;
        color: #000;
      }
    }

  }
}
