<mat-toolbar color="dark">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon routerLink="">home</mat-icon>
  </button>
  <span>EstoqueUi</span>
  <div class="botoes">
    <button mat-raised-button routerLink="./categoria">Categorias</button>
    <button mat-raised-button routerLink="./produto">Produtos</button>
  </div>
  <span class="example-spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>


<mat-toolbar>
  <span class="footer" style="margin-right: 62vw"
    >Desenvolvido por Vitor Lopes Nunes</span
  >

  <a href="https://github.com/vitorlopesnunes21">
    <button mat-raised-button style="margin-right: 1vw">GitHub</button></a
  >
  <a href="https://www.instagram.com/vituuln/">
    <button mat-raised-button>Instagram</button></a
  >
</mat-toolbar>
